body,
html {
  margin: 0;
  padding: 0;
}
.standes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: linear-gradient(
    #bad5f4,
    #c7dbf2,
    #e5ecf3,
    #f9e1e1,
    #fad7d7,
    #f6d5d5,
    #ffc9c9
  );
}

.veinte {
  color: #82b8f6;
}

.veinticinco {
  color: #ed7474;
}

.cargando {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #c7dbf2;
}

.cargg {
  padding: 3.5rem 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: white;
  border-radius: 25px;
  box-shadow: 1px 1px 2px 1px #dcdcdc;
  animation: flotandoo 4s ease-in-out infinite;
}

.cargg h2 {
  margin: 0%;
  font-weight: 300;
  font-size: 1.1rem;
}

.ccc {
  margin: none;
  margin: none;
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
}

.standes h1 {
  font-weight: 400;
  font-size: 1.4rem;
  color: rgb(52, 52, 52);
  background-color: white;
  border-bottom: 4px solid #f6d5d5;
  border-left: 3px solid #f6d5d5;
  border-top: 2px solid #f6d5d5;
  border-right: 2px solid #f6d5d5;
  margin: 1rem 0;
  padding: 1rem 1.2rem;
  border-radius: 15px;
  animation: flotandoo 4s ease-in-out infinite;
}

.standes a {
  text-decoration: none;
  width: 85%;
}

.standes-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.1rem 1rem;
  margin: 3% 0;
  border-radius: 20px;
  background-color: #f8f6f6;
  box-shadow: 1px 1px 2px 1px #dcdcdc;
  gap: 8%;
  transition: background-color 0.3s ease-in-out;
  animation: flotandoo 3s ease-in-out infinite;
}

.standes-cont:hover {
  background-color: #edf5ff;
  box-shadow: none;
}

.inff {
  width: 80%;
}
.icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9px;
  background-color: #e9e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px #dcdcdc;
}

.icon i {
  font-size: 0.8em;
  color: #fec0c0;
}

.standes-cont h3 {
  color: black;
  font-size: 0.9em;
  margin: 0;
  font-weight: 500;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.standes-cont p {
  font-size: 0.7em;
  margin-bottom: 0;
  margin-top: 1%;
  color: #7b7b7b;
  font-weight: 400;
}

.pes {
  display: flex;
  flex-direction: row;
}

.pes p {
  margin-right: 3px;
}

.rnn {
  width: 0.5em;
  height: 0.5em;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.rnnn {
  background-color: #dfecfa;
  color: #9fc8f6;
}

.rnnnn {
  background-color: #f8e0e0;
  color: #f26f6f;
}

.rnn i {
  font-size: 0.8rem;
}

@keyframes slideDown {
  from {
    transform: translateY(-70%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes flotandoo {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
}
